.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #ffffff;
  font-size: 10px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline;
  float: right;
  margin-left: 5px;
}
.green {
  background: green;
}

.orange {
  background: orange;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.container-up {
  width: 100%;
  height: 250px;
}
.container-down {
  width: 100%;
  height: 250px;
  overflow-y: auto;
}

hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§-§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

h1,h2,h3,h4,h5,h6 {
    color: saddlebrown;
}

hr {
    border-color: lightgreen;
}

p {
    font-size: 16px;
}

ol,ul {
  font-size: 16px;
}

code {
    color: red;
    background-color: antiquewhite;
    font-size: 14px;
}

em, strong {
  color: goldenrod;
}
